<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
</head>
<body>
    <h2>This Page belong to @<%= data.name %> </h2>
    <button>Follow</button>
    <button>Message</button>

    <p>
        followers : <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp; following : <%= data.following %>
    </p>

    <hr>

    <% for(let post of data.posts){ %>
        <img src=<%= post.image%> alt="some img">
    <% } %>
    <p>
        likes : <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; comments : <%= post.comments %>
    </p>

    
   
</body>
</html>